<div class="row">
  <div class="col-xs-12 homegrid"><span class="glyphicon glyphicon-new-window"></span> Track</div>
  <div class="col-xs-12 homegrid"><span class="glyphicon glyphicon-align-left"></span> Analyze</div>
</div>